<h2>Forgot your password?</h2>
<p>Enter your email address and we'll send you a link to reset your password.</p>

<.form for={%{}} action={~p"/auth/forgot-password"} method="post">
  <.input name="email" type="email" label="Email" required />
  
  <div class="mt-2 flex items-center justify-between gap-6">
    <.button type="submit">Send reset link</.button>
  </div>
</.form> 