<h2>Reset your password</h2>

<.form :let={f} for={@changeset} action={~p"/auth/reset-password"} method="post">
  <input type="hidden" name="token" value={@token} />
  <.input field={f[:password]} type="password" label="New password" required />
  <.input field={f[:password_confirmation]} type="password" label="Confirm new password" required />
  
  <div class="mt-2 flex items-center justify-between gap-6">
    <.button type="submit">Reset password</.button>
  </div>
</.form> 